header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0B3861;
    color:#2E9AFE;
    height:200px;
    border-radius: 50px;

}

h3{
    color:#0431B4;
    align-items: center;
    height:30px;
    margin-left: 50px;
}
h4{
    color:#035388;
    align-items: center;
    height:30px;
    margin-left: 50px;
}
h5{
    color:#E12D39;
    margin-left: 50px;
}


input{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#CEE3F6;
    margin-left: 50px;
    border-radius: 40px;
    border:0;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 18px;
}

body{
    background-color:#CEE3F6;
}
footer{
    text-align: center;
    margin-top: 10%;
}

#cuerpodeinfo{
    
    border-color: #F7F7F7;
    border-style: solid;
    background-color:#F7F7F7;
    border-radius: 50px;
    height: 200px;
}
#textoinfo{
    margin-left: 50px;
    color:#0B3861;
}
#parte1{
    background-color:#B1B1B1;
    border-color: #B1B1B1;
    border-style: solid;
    border-radius: 40px;
}
#parte2{
    background-color:#B1B1B1;
    border-color: #B1B1B1;
    border-style: solid;
    border-radius: 40px;
}

#parte3{
    background-color:#B1B1B1;
    border-color: #B1B1B1;
    border-style: solid;
    border-radius: 40px;
}
#parte4{
    background-color:#B1B1B1;
    border-color: #B1B1B1;
    border-style: solid;
    border-radius: 40px;
}


.ultimoinput{
    margin-bottom: 40px;
}

.subtitulo{
    color:#0B3861;
    text-align: center;
}