header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0B3861;
    color:#2E9AFE;
    height:200px;
    border: solid;
    border-color: transparent;
    border-bottom-color:#2E9AFE; 
}
nav{
    margin: 50px;
}
h3{
    color:#0B3861;
}

h5{
    color:#E12D39;

}

li{
    list-style:none;
    margin-bottom: 10px;
}

label{
    color:#0B3861;
    height:30px;
}
input{
    background-color:#CEE3F6;
    border-radius: 5px;
    border:0;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

textArea{
    width: 100%;
    background-color:#CEE3F6;
    border-radius: 5px;
    border:0;
    height: 100px;
    text-align: justify;
    font-size: 12px;
}
body{
    background-color:#0B3861;
    
}
main{
    border: solid;
    border-color: transparent;
    border-bottom-color: #2E9AFE;
    border-top-color: #2E9AFE;
    padding-bottom: 50px;
}
footer{
    text-align: center;
    margin: 50px;
    color:#2E9AFE;
}

.subtitulo{
    color:#0B3861;
    text-align: center;
}
.despleguedelmenu{
    display:none;
    position:absolute;
    list-style: none;
    width: auto;
    background:transparent;
}
.botondemenu:hover .despleguedelmenu{
    display:block;
}
.botonmenu{
    font-size: 24px;
    text-align: center;
    background-color:#0B3861;
    color:#2E9AFE;
    width: 100px;
    border-radius: 10px;
    border-color:#2E9AFE;
    margin-left: 50px;
    padding: 10px;
    cursor:pointer;
}

.botonmenu:hover{
    background-color:#2E9AFE;
    color:#0B3861;
}
.boton{
    font-size: 24px;
    text-align: left;
    background-color:#0B3861;
    color:#2E9AFE;
    width: 200px;
    border-radius: 10px;
    border-color:#2E9AFE;
    margin-left: 50px;
    padding: 10px;
    cursor:pointer;
}

.boton:hover{
    background-color:#2E9AFE;
    color:#0B3861;
}
.botondocumento{
    font-size: 24px;
    text-align: center;
    background-color:#0B3861;
    color:#2E9AFE;
    width: 100%;
    margin-top: 100px;
    border-radius: 10px;
    border-color:#2E9AFE;
    padding: 10px;
    cursor:pointer;
}

.botondocumento:hover{
    background-color:#2E9AFE;
    color:#0B3861;
}
.caja1{
    background-color:#B1B1B1;
    border-color: #B1B1B1;
    border-style: solid;
    border-radius: 40px;
    padding: 45px;
    width: 320px;
    margin: 5px;


}
.caja2{
    background-color:#B1B1B1;
    border-color: #B1B1B1;
    border-style: solid;
    border-radius: 40px;
    padding: 45px;
    width: 320px;
    margin: 5px;

}

.caja3{
    background-color:#B1B1B1;
    border-color: #B1B1B1;
    border-style: solid;
    border-radius: 40px;
    padding: 45px;
    width: 320px;
    height: auto;
    margin: 5px;

}
.caja4{
    background-color:#B1B1B1;
    border-color: #B1B1B1;
    border-style: solid;
    border-radius: 40px;
    padding: 45px;
    width: 320px;
    height: 540px;
    margin: 5px;
}
.contenedor1{

    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contenedor2{

    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}